<section class="grey-bg">
  <div class="container">
    <div class="form-here">
      <div class="myForm">
        <h1>Contact Us</h1>
        <form [formGroup]='contactForm' (ngSubmit)='onSubmit()'>
          <div class="col-sm-6 my-inputs">
            <div class="form-group">
              <div class="col-sm-12 user-input">
                <input
                  type="text"
                  placeholder="Name"
                  class="form-control input-md border-blue"
                  formControlName='name'
                >
              </div>
              <div *ngIf="contactForm.controls.name.touched && contactForm.controls.name.errors">
                <div class='alert alert-danger error-here' *ngIf="contactForm.controls.name.errors.required">
                  <p>Please insert the name.</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 user-input">
                <input
                  type="text"
                  placeholder="Email"
                  class="form-control input-md border-blue"
                  formControlName='email'
                >
              </div>
              <div *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors">
                <div class='alert alert-danger error-here' *ngIf="contactForm.controls.email.errors.required">
                  <p>Please insert the email.</p>
                </div>
                <div class='alert alert-danger error-here' *ngIf="contactForm.controls.email.errors.emailValid">
                  <p>Please insert the correct email.</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 user-input">
                <input
                  type="text"
                  placeholder="Subject"
                  class="form-control input-md border-blue"
                  formControlName='subject'
                >
              </div>
            </div>
          </div>
          <div class="col-sm-6 my-textarea">
            <div class="form-group">
              <textarea
                type="text"
                placeholder="Message"
                class="form-control"
                formControlName='message'
              ></textarea>
              <div *ngIf="contactForm.controls.message.touched && contactForm.controls.message.errors">
                <div class='alert alert-danger error-here' *ngIf="contactForm.controls.message.errors.required">
                  <p>Please insert the email.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary red-button" [disabled]='!contactForm.valid'>Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<bs-other></bs-other>
<bs-footer></bs-footer>
