<div class="col-sm-12 padding0 search-inputs">
  <h4 class="borbot2fff text-center">REFINE YOUR SEARCH</h4>
  <form #f="ngForm" (ngSubmit)='submit(f.form)'>
    <div *ngFor="let filter of filterInput">
      <div class="form-group">
          <div class="col-md-12 input-here">
            <div *ngIf="filter.datePicker">
              <ng2-datepicker name="{{filter.name}}" #filter.name="ngModel" ngModel></ng2-datepicker>
            </div>
            <div *ngIf="!filter.datePicker">
              <input
                id="textinput"
                name="{{filter.name}}"
                #filter.name ="ngModel"
                ngModel type="text"
                placeholder="{{filter.title}}"
                class="form-control input-md"
                >
              <span class="fa {{filter.icon}}"></span>
            </div>
          </div>
      </div>
    </div>
    <div class="alert alert-danger error-here" *ngIf="empty">
      <p>Please fill the name field.</p>
    </div>
    <button class="btn btn-primary" type="submit">Search Cinema</button>
  </form>
</div>
<div class="col-sm-12 padding0 genre-display">
  <div class="slide-control">
      <h4>Genre</h4>
      <i class="fa fa-angle-down"></i>
  </div>
  <div class="col-sm-12 padding0 slide-here">
      <div *ngFor="let gen of genre">
        <p (click)="genreClick(gen)">{{gen.title}}</p>
      </div>
  </div>
</div>
<div class="col-sm-12 padding0 slide-here">
    <div class="side-movie-outer" *ngFor="let sortFeature of sortFeatured">
      <div class="side-movie-inner" *ngIf="sortFeature.custom_fields.movie_timings_0_cinema_name">
          <div class="col-sm-3 col-xs-3 padding0 movie-date">
              <div class="border-here">
                  <p>{{sortFeature.custom_fields.movie_timings_0_date_0_date | sidebardate:"date"}}</p>
                  <p>{{sortFeature.custom_fields.movie_timings_0_date_0_date | sidebardate:"month"}}</p>
              </div>
          </div>
          <div class="col-sm-9 col-xs-9 movie-detail">
              <p>{{sortFeature.title}}</p>
              <p><i class="fa fa-map-marker marright5"></i>{{sortFeature.custom_fields.movie_timings_0_cinema_name}}</p>
          </div>
      </div>
  </div>
</div>
