<div class="activity">
  <img src="{{content.thumbnail_images.full.url}}" class="img-responsive">
  <div class="movie-description">
      <div class="movie-desc-icons">
          <bookmark [content]='content'></bookmark>
            <sharer [id]='content.slug' [share]='facebook'></sharer>
            <sharer [id]='content.slug' [content]='content' [share]='twitter'></sharer>
            <i class="fa fa-eye" (click)="gotoModel(content)" data-toggle="modal" [attr.data-target]="'#' + modelId"></i>
      </div>
      <div class="text-uppercase">
          <h3>{{content.title}}</h3>
      </div>
      <div class="movie-desc-view">
          <button class="btn btn-primary red-button" (click)="goto($event)" >View More</button>
      </div>
  </div>
</div>
