<div class="modal fade login-pop-up" id="signup-popup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
              <div class="login-form signup-form animated pulse" *ngIf="signUp">
                  <div class="pull-left">
                    <h3 class="text-left text-capitalize">sign up</h3>
                  </div>
                  <div class="close-modal">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <sign-form></sign-form>
                  <div class="text-center sign-last-text">
                      <p>By signing up you agree to the <span>Booking Bash</span> terms and conditions</p>
                  </div>
              </div>
              <div class="login-form signup-form animated pulse" *ngIf="login">
                  <div class="pull-left">
                    <h3 class="text-left text-capitalize">login</h3>
                  </div>
                  <div class="close-modal">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <login></login>
                  <div class="text-center no-member">
                    <p (click)="signupwindow()">Not a member? <a>Sign Up today</a></p>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
