<main-slider [url]="mainSliderUrl"></main-slider>
<section class="bg-dark-grey" id="main-content">
  <div class="container">
    <div class="col-sm-3 padding20 filter">
      <bs-nav-menu
      [filterInput]='filterInput'
      [genre]='genre'
      [url]='url'
      [filterUrl]='filterUrl'
      [genreUrl]='genreUrl'
      (updateUrl)='updateUrl($event)'
      (updateGenre)="updateGenre($event)"
      ></bs-nav-menu>
    </div>
    <div class="col-sm-9 padding20 white-bg nightlife-content">
      <div class="col-sm-12 padding0">
        <section-head [head]='head' [icon]='icon' [singlePage]='singlePage' (viewAll)='viewAll($event)'></section-head>
      </div>
      <div class="nightlife-detail">
      <bs-loader [isLoading]="isLoading" [error]='error'></bs-loader>
      <div *ngIf="!isLoading && !error">
        <google-map [mapContent]='mapContent'></google-map>
          <div class="col-sm-4 nightlife-single-detail" *ngFor="let active of activity">
            <bs-active [activity]='active' (modelContent)='modelContent($event)' [modelId]='modelId'></bs-active>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<bs-other></bs-other>
<bs-footer></bs-footer>
<activity-modal
[modelId]='modelId'
[modalContent]='modalContent'
[modalGallery]='modalGallery'
[modelTitle]='modelTitle'
[modelImg]='modelImg'
[prevId]='prevId'
[nextId]='nextId'
(Idmodel)="myModel($event)"
[isLoading]='isLoading'
[error]='error'
></activity-modal>
