<section id="subscribe" class="padtopbot50">
    <div class="container">
        <div class="col-sm-12 text-left">
            <div class="col-sm-2 subscribe-image">
                <img src="../../../assets/images/sub-pic.png" class="img-responsive">
            </div>
            <div class="col-sm-10 subscribe-text">
                <div class="padding20">
                    <p>Lorem ipsum dolor sit amet, duo aliquando definiebas repudiandae no. Ne virtute insolens per. Duo cu eius adipisci volutpat, nam quem dignissim dissentiet ne</p>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="email">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" (click)="subscribe()">Subscribe</button>
                    </span>
                </div>
                <p>{{message}}</p>
            </div>
        </div>
    </div>
</section>
